body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    font-family: "Noto Sans JP", sans-serif; ;
    font-weight: 500;
    background-color: #ffffff;
    /* background-color: #e0e0f0; */
    /* background-color: #fcfcff; */
}

.wrapper {
    max-width: 1200px;
    /* max-width: 1080px; */
    margin: 0 auto;
    padding: 0 2px;
}

.wrapper article {
    width: 1200px;
    text-align: left;
    font-size: 1.25rem;
}

.page-heading {
    font-size: 2rem;
    text-decoration: underline;
}


.button{
  /* background: #55C500; */
  background: #ff4d4d;
  font-size: large;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 8px;
  padding: 4px 16px;
  position: relative;
  z-index: 1;
}

.button:hover {
  background-color: #f50000;
  cursor: pointer;
  transform: translateY(-2px);
}

footer {
    /* background-color: gray; */
    text-align: center;
    padding: 7px 0;
    width: 100%;
}

footer p {
    /* color: #fff; */
    color: black;
    font-size: 0.875rem;
}