body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    font-family: "Noto Sans JP", sans-serif; ;
    font-weight: 500;
    background-color: #ffffff;
    /* background-color: #e0e0f0; */
    /* background-color: #fcfcff; */
}

header  img{
    width: 900px;
    /* border: 1px solid rgba(0, 0, 0, 0.9); */
}

.wrapper {
    max-width: 1200px;
    /* max-width: 1080px; */
    margin: 0 auto;
    padding: 0 2px;
}

.heading {
    width: 500px;
    padding: 0.5em;/*文字周りの余白*/
    color: orange;/*文字色*/
    /* border-left: solid 5px #ffaf58;左線（実線 太さ 色） */
    border-left: solid 5px;/*左線（実線 太さ 色）*/
    font-size: 1.5rem;
}

.top {
    display: flex;
}

.top .concept {
    font-size: 1.25rem;
    margin-right: 5%;
}

.top aside img {
    margin: 5%;
    max-width: 252px;
    max-height: 189px;
}

.link-button :hover {
  cursor: pointer;
  transform: translateY(-2px);
}

aside h3 {
    color: black;
    font-size: 1.5rem;
}

footer {
    /* background-color: gray; */
    text-align: center;
    padding: 7px 0;
    width: 100%;
}

footer p {
    /* color: #fff; */
    color: black;
    font-size: 0.875rem;
}

.frame {
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    /* border: 1px solid rgba(0, 0, 0, 0.12); */
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    /* margin: 16px; */
    margin: 1%;
    font-size: 1.25rem;
}

.card:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
}

.card .link{
  position: absolute;
  inset: 0;
  /* background: #4097DB; */
  background: white;
  opacity: 0.2;
}

.button{
  /* background: #55C500; */
  background: #ff4d4d;
  font-size: large;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 8px;
  padding: 4px 16px;
  position: relative;
  z-index: 1;
}

.button:hover {
  background-color: #f50000;
  cursor: pointer;
  transform: translateY(-2px);
}
